<h1>Comment <%= @comment.id %></h1>

<p><%= @comment.articleId %></p>
<p><%= @comment.text %></p>
<p><%= @comment.user_id %></p>
<p><%= @comment.parentId %></p>
<p><%= @comment.created_at %></p>
<p><%= @comment.updated_at %></p>
